<!DOCTYPE html>
<html lang="en">

<head>
    {% block head %}
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="description" content="Anmeldung zum Lauf gegen Rechts 2022. Organisiert von FC St. Pauli Marathon">
    <title>{% block title %}{% endblock title %} - Lauf gegen Rechts 2022</title>
    <link rel="icon" type="image/x-icon" href="/static/favicon.ico">
    <link rel="stylesheet" href="/static/css/picnic.css">
    <link rel="stylesheet" href="/static/css/style.css">
    {% endblock head %}
</head>
<body>
<div id="head" class="full header menu card fcsp">
    <div >
        <span><a class="fcsp" href="/">Lauf gegen Rechts 20223</a></span>
        <img class="logo" src="/static/logo.svg">
    </div>
</div>
<div id="content" class="content card">{% block content %}{% endblock content %}</div>
<div id="footer" class="full menu footer fcsp">
    {% block footer %}
    <div>
        <a class="fcsp" href="/imprint">Impressum</a>
        <a class="fcsp" href="/privacy_notice">Datenschutz</a>
    </div>
    {% endblock footer %}
</div>
</body>
</html>
