<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="description" content="Anmeldung zum Lauf gegen Rechts 2022. Organisiert von FC St. Pauli Marathon">
    <title>Lauf gegen Rechts 2022</title>
    <link rel="stylesheet" href="/fonts.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="/materialdesignicons.min.css">
</head>
<body>
<main class="v-main" style="padding: 56px 0px 0px;" data-booted="true">
    <div class="v-main__wrap">
        <div data-app="true" class="v-application v-application--is-ltr theme--light" id="app">
            <div class="v-application--wrap">
                <header class="v-sheet theme--dark v-toolbar v-app-bar v-app-bar--fixed brown" data-booted="true"
                        style="height: 56px; margin-top: 0px; transform: translateY(0px); left: 0px; right: 0px;">
                    <div class="v-toolbar__content" style="height: 56px;"><!----><a href="#/" aria-current="page"
                                                                                    class="router-link-exact-active router-link-active"
                                                                                    style="text-decoration: none; color: inherit;">
                        <div class="v-toolbar__title v-app-bar-title">
                            <div class="v-app-bar-title__content" style="width: 218px; visibility: hidden;">{{ var }} - Lauf gegen
                                Rechts 2022
                            </div>
                            <div class="v-app-bar-title__placeholder" style="visibility: visible;">{{ var }} - Lauf gegen Rechts
                                2022
                            </div>
                        </div>
                    </a>
                        <div class="spacer"></div>
                        <div class="mt-5">
                            <div class="v-image v-responsive theme--dark" style="height: 90px; width: 90px;">
                                <div class="v-responsive__sizer" style="padding-bottom: 96.652%;"></div>
                                <div class="v-image__image v-image__image--cover"
                                     style="background-image: url(&quot;https://dev.lauf-gegen-rechts.de/logo.svg&quot;); background-position: center center;"></div>
                                <div class="v-responsive__content" style="width: 1822px;"></div>
                            </div>
                        </div>
                    </div>
                </header>
                <aside class="v-navigation-drawer v-navigation-drawer--absolute v-navigation-drawer--close v-navigation-drawer--is-mobile theme--light"
                       data-booted="true" style="height: 100%; top: 0px; transform: translateX(-100%); width: 256px;">
                    <div class="v-navigation-drawer__content">
                        <div role="list" class="v-list v-sheet theme--light v-list--dense v-list--nav">
                            <div role="listbox" class="v-item-group theme--light v-list-item-group"><a
                                    href="#/admin/participants" class="v-list-item v-list-item--link theme--light"
                                    tabindex="0" role="option" aria-selected="false">
                                <div class="v-list-item__title">Teilnehmer*innen</div>
                            </a><a href="#/admin/shirts" class="v-list-item v-list-item--link theme--light" tabindex="0"
                                   role="option" aria-selected="false">
                                <div class="v-list-item__title">T-Shirts</div>
                            </a><a href="#/admin/print" class="v-list-item v-list-item--link theme--light" tabindex="0"
                                   role="option" aria-selected="false">
                                <div class="v-list-item__title">Drucken</div>
                            </a><a href="#/admin/finance" class="v-list-item v-list-item--link theme--light"
                                   tabindex="0" role="option" aria-selected="false">
                                <div class="v-list-item__title">Finanzen</div>
                            </a><a href="#/admin/settings" class="v-list-item v-list-item--link theme--light"
                                   tabindex="0" role="option" aria-selected="false">
                                <div class="v-list-item__title">Einstellungen</div>
                            </a><a href="#/admin/mail" class="v-list-item v-list-item--link theme--light" tabindex="0"
                                   role="option" aria-selected="false">
                                <div class="v-list-item__title">Mails verschicken</div>
                            </a><a href="#/admin/couponcodes" class="v-list-item v-list-item--link theme--light"
                                   tabindex="0" role="option" aria-selected="false">
                                <div class="v-list-item__title">Gutscheine</div>
                            </a></div>
                        </div>
                    </div>
                    <div class="v-navigation-drawer__border"></div>
                </aside>
                <div data-v-1efe56f0="" class="container">
                    <div data-v-1efe56f0="" class="v-card v-sheet theme--light">
                        <div data-v-1efe56f0="" class="v-card__title" style="word-break: normal;"> Die Online Anmeldung
                            für den Lauf gegen Rechts 2022 ist geschlossen
                        </div>
                        <div data-v-1efe56f0="" class="v-card__text">
                            <div data-v-1efe56f0="" class="text-body-1"> Startnummern werden für alle, die sich online
                                für den Lauf an der Außenalster bis zum 21.5. gemeldet hatten, speziell ausgedruckt
                            </div>
                            <div data-v-1efe56f0="" class="text-body-1"> Die Startnummernausgabe findet am Samstag,
                                28.5.22 von 11- 17 Uhr vor den Fanräumen (Heiligengeistfeld Außenbereich der Gegengrade
                                des Millerntor-Stadions) statt. Dort könnt Ihr Euch nachmelden und auch T-Shirts
                                erwerben, solang der Vorrat reicht. (Alle die ihr T-Shirt online bestellt hatten,
                                bekommen es in der Woche nach dem 15.5. per Post zugeschickt). Wir empfehlen Startnummer
                                bereits am Samstag abzuholen um Schlange am Lauf-Tag zu vermeiden.
                            </div>
                            <div data-v-1efe56f0="" class="text-body-1"> Startnummernausgabe und Nachmeldungen am
                                Sonntag, 29.5.22, ab 8.30 Uhr, Alsterwiese Schwanenwik
                            </div>
                            <div data-v-1efe56f0="" class="text-body-1"> Gestartet wird aus Gründen des
                                Infektionsschutzes in 100-Personen-Blöcken ab 10 Uhr, bitte haltet im Startblock Abstand
                                Wir bitten aus solidarischen Gründen im Startbereich und auf dem Platz um das Tragen von
                                medizinischen Masken. Bitte keine Masken auf der Laufstrecke wegwerfen. Es wird Wasser
                                an alle Läufer*innen im Zielbereich in recyclingfähigen Bechern ausgeschenkt. Bitte
                                werft die Wasser-Becher ohne anderen Müll (sonst kann nicht recycelt werden) in die
                                entsprechenden Tüten
                            </div>
                        </div>
                        <div data-v-1efe56f0="" class="v-card__actions">
                            <button data-v-1efe56f0="" type="button"
                                    class="v-btn v-btn--is-elevated v-btn--has-bg theme--light v-size--x-large"><span
                                    class="v-btn__content"><a data-v-1efe56f0="" href="#/registration" class=""
                                                              style="text-decoration: none; color: inherit;">Hier anmelden</a></span>
                            </button>
                        </div>
                    </div><!----></div>
                <footer class="v-footer v-sheet theme--light" data-booted="true">
                    <div class="spacer"></div>
                    <div class="spacer"></div>
                    <div class="col"><a href="#/impressum"
                                        class="v-btn v-btn--router v-btn--text theme--light v-size--x-small"><span
                            class="v-btn__content">Impressum </span></a><a href="#/datenschutz"
                                                                           class="v-btn v-btn--router v-btn--text theme--light v-size--x-small"><span
                            class="v-btn__content">Datenschutz </span></a></div>
                </footer>
            </div>
        </div>
    </div>
</main>
</main>
</body>
</html>