{% extends "includes/base.html" %}
{% block title %}Join{% endblock title %}
{% block content %}
<h1>Anmeldung</h1>
<p>Persönliche Angaben</p>
<form action="submit" method="post">
    <input type="text" name="firstname" placeholder="Vorname (erscheint auf Startnummer)"><br />
    <input type="text" name="lastname" placeholder="Nachname"><br />
    <input type="text" name="team" placeholder="Teamname (erscheint auf Startnummer)"><br />
    <input type="text" name="email" placeholder="E-Mail"><br />
    <input type="text" name="repeat" placeholder="E-Mail wiederholen"><br />
    <input type="checkbox" name="confirm"> Meine Daten speichern<br />
    <button name="name" value="value" type="submit">Weiter</button>
</form>
{% endblock content %}