{% extends "includes/base.html" %}
{% block title %}Danke{% endblock title %}
{% block content %}
<div style="text-align: center; margin-left: 25%; margin-right: 25%;">
    <h1>Zusammenfassung</h1>
    <p>Bitte überprüfe deine Daten</p>
    <div style="border: 3px solid grey; margin: 30px; padding: 20px;">
        <h2>PERSÖNLICHE ANGABEN</h2>
        {% if info %}
        <p>Name: {{info.firstname}} {{info.lastname}}</p>
        <p>Team: {{info.team}}</p>
        <p>E-Mail: {{info.email}}</p>
        {% if info.starting_point == 'hamburg' %}
        <p>Startort: Hamburg</p>
        {% else %}
        <p>Startort: Woanders</p>
        {% endif %}
        {% if info.running_level == 'rarely'%}
        <p>Laufniveau: Ich laufe selten.</p>
        {% elif info.running_level == 'sometimes' %}
        <p>Laufniveau: Ich laufe gelegentlich bis regelmäßig.</p>
        {% else %}
        <p>Laufniveau: Ich laufe häufig und ambitioniert.</p>
        {% endif %}
    </div>

    {% if info.tshirt_toggle == 'on' %}
    <div style="display: flex; justify-content: center; margin: 30px; border: 3px solid grey">
        <div style="padding: 20px">
            <h2>T-SHIRT ANGABEN</h2>
            {% if info.tshirt_model == 'unisex' %}
            <p>Modell: Unisex</p>
            {% else %}
            <p>Modell: Tailliert</p>
            {% endif %}
            <p>Größe: <span style="text-transform:uppercase">{{info.tshirt_size}}</span></p>
        </div>
        <div style="padding: 20px">
            <h2>LIEFERADRESSE</h2>
            <p>{{info.address_firstname}} {{info.address_lastname}}</p>
            <p>{{info.street_name}} {{info.house_number}}</p>
            <p>{{info.postal_code}} {{info.city}}</p>
            <p>{{info.address_extra}}</p>
            <p>{{info.country}}</p>
        </div>
    </div>
    {% endif %}

    <div>
        <p>Spendenbeitrag: {{info.donation}}€</p>
        <p>Versand: kostenlos (innerhalb Deutschland)</p>
        <hr>
        <p>Zu zahlen: {{info.donation}}€</p>
    </div>
    <form action="submit" method="post">
        <input type="hidden" name="firstname" value={{info.firstname}} />
        <input type="hidden" name="lastname" value={{info.lastname}} />
        <input type="hidden" name="team" value={{info.team}} />
        <input type="hidden" name="email" value={{info.email}} />
        <input type="hidden" name="repeat" value={{info.repeat}} />
        <input type="hidden" name="starting_point" value={{info.starting_point}} />
        <input type="hidden" name="running_level" value={{info.running_level}} />
        <input type="hidden" name="donation" value={{info.donation}} />
        <input type="hidden" name="confirm" value={{info.confirm}} />
        <input type="hidden" name="tshirt_toggle" value={{info.tshirt_toggle}} />
        <input type="hidden" name="tshirt_model" value={{info.tshirt_model}} />
        <input type="hidden" name="tshirt_size" value={{info.tshirt_size}} />
        <input type="hidden" name="country" value={{info.country}} />
        <input type="hidden" name="address_firstname" value={{info.address_firstname}} />
        <input type="hidden" name="address_lastname" value={{info.address_lastname}} />
        <input type="hidden" name="street_name" value={{info.street_name}} />
        <input type="hidden" name="house_number" value={{info.house_number}} />
        <input type="hidden" name="address_extra" value={{info.address_extra}} />
        <input type="hidden" name="postal_code" value={{info.postal_code}} />
        <input type="hidden" name="city" value={{info.city}} />
        <button type="button" onclick="history.back()">Zurück zur Bearbeitung</button>
        <button type="submit">Anmelden</button>
    </form>
    {% else %}
    <p>Fehler: Keine Informationen erhalten</p>
    {% endif %}
</div>
{% endblock content %}