<h2>Lauf gegen Rechts - Zahlung bestätigt</h2><br/>

<p>Hallo! Wir möchten dir mitteilen, dass die Zahlung deines Spendenbetrages von {{email_info.donation}}€ bei uns
    eingegangen ist. Deine Anmeldung ist hiermit
    abgeschlossen und du bist somit offiziell dabei. :)</p><br/>

<p>Unter folgenden Link kannst du jederzeit den aktuellen Stand der Bearbeitung einsehen.</p>
<br/>


<a href="http://localhost:3000/status?runner_id={{email_info.runner_id}}&start_number={{email_info.start_number}}"
   style="color: red">Meinen Anmeldestatus abrufen</a>
<br/>&nbsp;<br/>

<p>Vielen Dank für Deine Anmeldung. Wir wünschen Dir viel Spaß!</p>

<p>Das Lauf-gegen-Rechts Team</p>
