<h2>Lauf gegen Rechts - Deine Anmeldung</h2><br />

<p>Dies ist eine Bestätigung für deine vorläufige Anmeldung für die Veranstaltung von Lauf gegen Rechts.</p>

<p>Um die Registrierung abzuschließen, überweise bitte deinen Spendenbetrag an folgendes Konto:</p>
<br />


<h3>Spendenbetrag: {{email_info.donation}}€</h3>
<br />

<p>FC St. Pauli Marathon<br />&nbsp;<br />

Hamburger Volksbank<br>
IBAN: DE09 2019 0003 0019 4004 20<br>
BLZ: GENODEF1HH2<br>
Verwendungszweck: {{email_info.reason_for_payment}}</p>
<br />


<p>Unter folgenden Link kannst du jederzeit den aktuellen Stand der Bearbeitung einsehen.</p>
<br />


<a href={{email_info.status_link}}>Meinen Anmeldestatus abrufen</a>
<br />&nbsp;<br />

<p>Vielen Dank für Deine Anmeldung. Wir wünschen Dir viel Spaß!</p>

<p>Das Lauf-gegen-Rechts Team</p>
